{%extends 'login/base.html'%}

{%block title %} sibghatcodez | Edit List {%endblock%}
{%block css%}
	<style>
		body {
			font-family: Arial, sans-serif;
			background: linear-gradient(100deg, #ddd6f3 0%, #faaca8 100%);
		}
		h1 {
			text-align: center;
			font-size: 32px;
			margin-top: 30px;
			margin-bottom: 30px;
			color: #666;
		}
		.edit-info {
			background-color: #fff;
			padding: 20px;
			box-shadow: 0 0 5px #ccc;
			border-radius: 5px;
			width: 500px;
			margin: 0 auto;
		}
		.edit-info p {
			font-size: 18px;
			margin-bottom: 10px;
			color: #333;
		}
		.edit-info strong {
			font-weight: bold;
		}
        .save {
            background-color: #18ad39ec;
            color: #fffffff3;
            border: none;
            padding: 7px 10px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            text-decoration: none;
        }

        .save:hover {
            background-color: #1fc042ec;
        }
        .edit-info input[type="text"]{
            background-color: #6B728E;
            color: #EEEEEE;
            height: 25px;
            width: 300px;
            overflow: auto;
            border: 2px solid transparent;
            border-radius: 10px;
            padding: 5px 10px;
            font-size: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin: auto;
        }
        .edit-info input[type="text"]:hover{
            border-color: #5350e4;
        }
        .edit-info p{
            font-size: 20px;
            font-family: monospace;
        }
	</style>
    {%endblock%}
    {%block content%}
    {%csrf_token%}
	<h1>Edit List</h1>
	<div class="edit-info">
        <form action="{% url 'finalizelist' listID %}" method="POST">
            {%csrf_token%}
            <p><strong>List:</strong> <input type="text" value="{{list_info}}" name="updated_list"></p>
            <p><strong>List Created: </strong> {{list_date}}</p>
            <br>
            <input type="submit" value="Save" class="save">
        </form>

	</div>
    {%endblock%}